iOSArchitecturesDemo.xcworkspace/xcuserdata/5craft.xcuserdatad/UserInterfaceState.xcuserstate
iOSArchitecturesDemo.xcodeproj/xcuserdata/5craft.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/5craft.xcuserdatad/xcschemes/xcschememanagement.plist
